PORT=3000
CLAVE_API_SUNAT=123456789
DATABASE_USER=usuarioxyz
DATABASE_PASSWORD=clave123

# Productos Microservice
PRODUCTO_SERVICE_PORT=3001
PRODUCTOS_MS_HOST=0.0.0.0

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=tienda
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres